# Movie Data Set Exploration

In [13]:
import pandas as pd 

data = pd.read_csv (r'C:\Users\c7gar\OneDrive\Desktop\Data Analyst Portfolio\Python\ISM 4211_Python_Project\Data.csv')
print (data)

      Unnamed: 0 show_id     type                                    title  \
0              0      s1  TV Show                                       3%
1              1      s2    Movie                                     7:19
2              2      s3    Movie                                    23:59
3              3      s4    Movie                                        9
4              4      s5    Movie                                       21
...          ...     ...      ...                                      ...
7772        7782   s7783    Movie                                     Zozo
7773        7783   s7784    Movie                                   Zubaan
7774        7784   s7785    Movie                        Zulu Man in Japan
7775        7785   s7786  TV Show                    Zumbo's Just Desserts
7776        7786   s7787    Movie  ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS

               director                                               cast  \
0                   NaN  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7772        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7773        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7774                NaN                                            Nasty C
7775                NaN                         Adriano Zumbo, Rachel Khoo
7776           Sam Dunn                                                NaN

                                                country rating  release_year  \
0                                                Brazil  TV-MA          2020
1                                                Mexico  TV-MA          2016
2                                             Singapore      R          2011
3                                         United States  PG-13          2009
4                                         United States  PG-13          2008
...                                                 ...    ...           ...
7772  Sweden, Czech Republic, United Kingdom, Denmar...  TV-MA          2005
7773                                              India  TV-14          2015
7774                                                NaN  TV-MA          2019
7775                                          Australia  TV-PG          2019
7776              United Kingdom, Canada, United States  TV-MA          2019

      year_added  duration_min  number_of_seasons  \
0           2020           NaN                4.0
1           2016          93.0                NaN
2           2018          78.0                NaN
3           2017          80.0                NaN
4           2020         123.0                NaN
...          ...           ...                ...
7772        2020          99.0                NaN
7773        2019         111.0                NaN
7774        2020          44.0                NaN
7775        2020           NaN                1.0
7776        2020          90.0                NaN

                                              listed_in  \
0     International TV Shows, TV Dramas, TV Sci-Fi &...
1                          Dramas, International Movies
2                   Horror Movies, International Movies
3     Action & Adventure, Independent Movies, Sci-Fi...
4                                                Dramas
...                                                 ...
7772                       Dramas, International Movies
7773     Dramas, International Movies, Music & Musicals
7774  Documentaries, International Movies, Music & M...
7775                 International TV Shows, Reality TV
7776                    Documentaries, Music & Musicals

                                            description
0     In a future where the elite inhabit an island ...
1     After a devastating earthquake hits Mexico Cit...
2     When an army recruit is found dead, his fellow...
3     In a postapocalyptic world, rag-doll robots hi...
4     A brilliant group of students become card-coun...
...                                                 ...
7772  When Lebanon's Civil War deprives Zozo of his ...
7773  A scrappy but poor boy worms his way into a ty...
7774  In this documentary, South African rapper Nast...
7775  Dessert wizard Adriano Zumbo looks for the nex...
7776  This documentary delves into the mystique behi...

[7777 rows x 14 columns]

### Excercise One

In [15]:
#1 How many movie titles mention the United States?
us_titles = data[data['title'].str.contains('United States', na = False) & data['type'].str.contains('Movie', na = False)]

print(len(us_titles))

1

In [16]:
#2 How many movie descriptions mention the United States?

us_descriptions = data[data['description'].str.contains('United States', na = False) & data['type'].str.contains('Movie', na = False)]

print(len(us_descriptions))

4

In [17]:
#3 How many movies are from the United States?

us_countries = data[data['country'].str.contains('United States', na = False) & data['type'].str.contains('Movie', na = False)]

print(len(us_countries))

2431

## Excercise Two : 

### Write a function to receive any name as input, search the director only and return the number of movies/TV shows that contain that name.

In [22]:
director_name = input("Director's name: ").title()
director_df = data[data['director'].str.contains(director_name, na = False)]
director_count = len(director_df)

def director_func(director_name):
    if len(director_df) == 0:
        print("No directors were found with the name: "+ director_name)
    else: return (director_name)

print("There is/are " + str(director_count) + " directors named " + str(director_func(director_name)) + " in this dataset.")

Director's name: Christopher
There is/are 22 directors named Christopher in this dataset.

## Excercise Three :

### Identify the 20 most common words in the description of the TOP TEN LONGEST MOVIES from the dataset.

In [21]:
top_ten = data.nlargest(10,["duration_min"])
top_ten_desc = top_ten["description"]
top_ten_list = list(top_ten_desc)

from collections import Counter

c = Counter(" ".join(top_ten_desc).split()).most_common(20)
top_20_table = pd.DataFrame(c, columns = ['Word', 'Frequency'])
print(top_20_table)

        Word  Frequency
0          a         11
1         to          8
2        his          8
3        and          5
4        the          5
5         he          4
6         of          4
7       from          3
8        for          3
9          A          2
10       has          2
11    father          2
12      with          2
13     marry          2
14  marrying          2
15     love.          2
16        on          2
17      true          2
18     after          2
19     woman          2